.container {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1024px;
}
.auto-complete {
  max-width: 50%;
  margin: 0 auto;
  margin-top: 3rem;
}
.form-group {
  position: relative;
}
.search-box {
  padding: 15px;
  font-size: 15px;
}
.cancel-wrap {
  position: absolute;
  top: 18px;
  right: 10px;
  color: gray;
}
.list-wrap {
  list-style: none;
  border-radius: 6px;
  margin-top: 1rem;
  border: 1px solid rgba(195, 115, 115, 0.125);
  max-height: 23rem;
  overflow-y: scroll;
}

.list__item {
  padding: 1rem;
}
.messsage__container {
  padding: 1rem;
  text-align: center;
}
.list__item:hover {
  background-color: hsl(0deg 0% 89.76%);
}
.selected-items {
  width: 100%;
  max-height: 10rem;
  overflow: scroll;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  margin-bottom: 2rem;
}
.selected-items__pill {
  padding: 0.3rem 0.9rem;
  border-radius: 15px;
  background-color: #efe8ff;
  border-color: #efe8ff;
  color: #9c6efc;
  margin: 5px;
}
